@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  html {
    font-family: 'Plus Jakarta Sans', system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, h5, h6 {
    /* De acordo com a screenshot a fonte de título parace mais moderna/sans do que serif */
    font-family: 'Plus Jakarta Sans', sans-serif; 
  }

  body {
    @apply bg-fbsb-bg-main text-fbsb-text-primary;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-glass-gradient backdrop-blur-xl border border-fbsb-border shadow-premium;
  }

  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-fbsb-primary to-fbsb-cyan;
  }
}
